{include file="header"}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 权限管理 <span class="c-gray en">&gt;</span> 权限分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		
	<div class="Hui-article">
		<article class="cl pd-20">
			<a href="{:url('role/add')}">
			<button type="button" class="btn btn-success" id="add" name="" onClick=""><i class="Hui-iconfont">&#xe600;</i>添加</button></a>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i>批量删除</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="70">ID</th>
							<th width="120">角色名称</th>
							<th width="120">角色描述</th>	
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</article>
	</div>

	<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">对话框标题</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body">
				<div class="row cl">
					<input type="text" value="" id="up_id" hidden="">
					<input type="text" value="" id="up_name">
					<input type="text" value="" id="up_description">
					<input type="hidden" id="__token__" value="{$Request.token}"  />
					
					<span id="up_span"></span>
				</div>
				<br>
				<div class="row cl">
					<!-- <label class="form-label col-xs-4 col-sm-3">网站角色：</label> -->
					<div class="formControls">
						<dl class="permission-list" id='permission-list'>
						</dl>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" onclick="up_action()">修改</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
</section>
{include file="footer"}
<script>
	function up_action(){
		var id=$('#up_id').val()
		var name=$('#up_name').val()
		var description=$('#up_description').val()
		var __token__=$('#__token__').val()
		var mycheckbox=$('.mycheckbox:checked')
		var permission_id=''
		for (var i = 0; i < mycheckbox.length; i++) {
			permission_id=permission_id+','+mycheckbox[i].value
		}
		$.ajax({
			url:'{:url("role/updateaction")}',
			type:'post',
			data:{
				id:id,
				__token__:__token__,
				name:name,
				description,description,
				permission_id:permission_id,
			},
			success:function(res){
				console.log(res)
				getToken()

				if (res.status=='ok') {
					$("#up_span").html()
					$("#modal-demo").modal("hide")
					show()
				}	
				if (res.status=='error') {
					$("#up_span").html(res.data)
				}	

			}
		})

	}
	function modaldemo(id,name,description){
		//var mycheckbox=$(".mycheckbox")
		

		$('#up_id').val(id)
		$('#up_name').val(name)
		$('#up_description').val(description)
		$.ajax({
			url:"{:url('role/mypermissionShow')}",
			data:{
				id:id
			},
			success:function(res){
				$(".mycheckbox").prop("checked", false);

				console.log(res.data)
				$.each(res.data , function(key,value){
					console.log(value)
					var p_id="p"+value.permission_id
					$("#"+p_id).prop('checked',true)
				})

			}
		})
		$("#modal-demo").modal("show")

	}
	function show(){
		$.ajax({
			url:'{:url("role/show")}',
			success:function(res){
				var data=res.data
				var tr=''
				for (var i = 0; i < data.length; i++) {
					tr=tr+"<tr><td><input type='checkbox'></td><td>"+data[i]['id']+"</td><td>"+data[i]['name']+"</td><td>"+data[i]['description']+"</td><td class='f-14 product-brand-manage'><a style='text-decoration:none' onclick='modaldemo(\""+data[i]['id']+"\",\""+data[i]['name']+"\",\""+data[i]['description']+"\")' title='编辑'>详情</a> <a style='text-decoration:none' class='delete_one ml-5' value='"+data[i]['id']+"' title='删除'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>";		
				}
				$('.table tbody').html(tr)
			}
		})
	}
	show()
	$(document).ready(function(){
		$('#add').click(function(){
			var __token__=$('#__token__').val()
			var name=$('#name').val()
			var description=$('#description').val()
			var path=$('#path').val()
			var category_id=$('#category_id').val()
			$.ajax({
				url:'{:url("permission/addaction")}',
				type:'post',
				data:{
					__token__:__token__,
					name:name,
					description,description,
					path:path,
					category_id:category_id,
				},
				success:function(res){
					getToken()
					if (res.status=='ok') {
						show()
					}	
				}
			})
		})
		$(document).on('click','.delete_one',function(){
			var id=$(this).attr('value')
			var __token__=$('#__token__').val()
			$.ajax({
				url:'{:url("role/delete")}',
				type:'post',
				data:{
					__token__:__token__,
					id:id,
				},
				success:function(res){
					console.log(res)
					getToken()
					if (res.status=='ok') {
						show()
					}	
				}
			})

		})
		 
	});
	$.ajax({
		url:'{:url("role/permissionShow")}',
		success:function(res){
			var data=res.data
			//console.log(res)
			dl=''
			$.each(data, function( key, value ) {
				dl=dl+"<dt><label class='' style='color:blue'><input type='checkbox' value='' >"+key+"</label></dt><dd><dl class='cl permission-list2'>"
				//console.log(value)
				$.each(value, function( key1, value1 ) {
					dl=dl+"<label class=''><input type='checkbox' class='mycheckbox' id='p"+value1['id']+"' value='"+value1['id']+"'>"+value1['name']+"</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
				})
				dl=dl+"</dd>";
			});
			//console.log(dl)
			$('#permission-list').html(dl)
			
		}
	})
</script>