{include file="header"}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 权限管理 <span class="c-gray en">&gt;</span> 权限分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		
	<div class="Hui-article">
		<article class="cl pd-20">
			<div >
				<input type="text" placeholder="名称" value="" class="input-text" style="width:120px" id="name">
				<input id="__token__" hidden="" name="__token__" value="{$Request.token}" />
				<input type="text" placeholder="描述" value="" class="input-text" style="width:120px" id="description">
				<button type="button" class="btn btn-success" id="add" name="" onClick=""><i class="Hui-iconfont">&#xe600;</i> 添加</button>
				<span id="add_span"></span>	
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> 
			<span id='token_delete' hidden="">{$token}</span>

			<span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="70">ID</th>
							<th width="120">分类名称</th>
							<th width="120">分类描述</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</article>
	</div>

	<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title">对话框标题</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body">
				<input type="text" value="" id="up_id" hidden="">
				<input type="text" value="" id="up_name">
				<input type="text" value="" id="up_description">
				<span id="up_span"></span>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" onclick="up_action()">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
</section>
{include file="footer"}
<script>
	function up_action(){
		var id=$("#up_id").val()
		var name=$("#up_name").val()
		var description=$("#up_description").val()
		var __token__=$("#__token__").val()
		$.ajax({
			url:"{:url('permissioncate/updateAction')}",
			type:'post',
			data:{
				id:id,
				name:name,
				description:description,
				__token__:__token__
			},
			dataType:'json',
			success:function(res){
				console.log(res)	
				

				if (res.status=='ok') {
					$('#up_span').html()
					$("#modal-demo").modal("hide")
					show()
				}
				if (res.status=='error') {
					$('#up_span').html(res.data)
				}
				
			}
		})
	}
	function modaldemo(id,name,description){
		$("#up_id").val(id)
		$("#up_name").val(name)
		$("#up_description").val(description)
		$("#modal-demo").modal("show")
	}

	function show(){
		var tr=''
		$.ajax({
			url:"{:url('permissioncate/show')}",
			dataType:'json',
			success:function(res){
				//console.log(res)
				for (var i = 0; i < res.length; i++) {
					tr=tr+"<tr><td><input class='mycheckbox' name='' type='checkbox' value='"+res[i].id+"'></td><td>"+res[i].id+"</td><td tid='"+res[i].id+"' tname='"+res[i].name+"'><span class='upname'>"+res[i].name+"</span></td><td><span >"+res[i].description+"</span></td><td class='f-14 product-brand-manage'><a onClick='modaldemo(\""+res[i].id+"\",\""+res[i].name+"\",\""+res[i].description+"\")' style='text-decoration:none'  title='编辑'><i class='Hui-iconfont'>&#xe6df;</i></a> <a style='text-decoration:none' class='ml-5' onclick='mydelete("+res[i].id+")' title='删除'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>"
				}
				$(".table tbody").html(tr);
			}
		})
	}
	show()
	function mydelete(id){
		var __token__=$('#token_delete').html()
		$.ajax({
				url:"{:url('permissioncate/delete')}",
				type:'post',
				data:{
					id:id,
					__token__:__token__
				},
				dataType:'json',
				success:function(res){
					if (res.status=='ok') {
						$('#token_delete').html(res.token)
						show()
					}
				}
		})
	}
	function datadel(){
		var r=confirm("你确定删除吗");
		if (r==true){
		    var box=$(".mycheckbox:checked")
			var id=''
			for (var i = 0; i < box.length; i++) {
				id=id+','+box[i].value
			}
			$.ajax({
					url:"{:url('permissioncate/deleteMore')}",
					type:'post',
					data:{
						id:id
					},
					dataType:'json',
					success:function(res){
						if (res.status=='ok') {
							show()
						}

					}
			})
		}
		
	}
	function getToken(){
		$.ajax({
			url:"{:url('common/commonToken')}",
			dataType:'json',
			success:function(res){
				$('#__token__').val(res.token)
			}
		})
	}
	

	$(document).ready(function(){
		$(document).on("dblclick",".upname",function(){
			var name = $(this).text()
			var input= "<input class='inputname' type='text' value='"+name+"'/>"
			$(this).parent().html(input)
			$(".inputname").focus();
		})
		$(document).on("blur",".inputname",function(){
			var _this=$(this)
			var _parent=$(this).parent()
			var name = $(this).val()
			var id = $(this).parent().attr('tid')
			var description = $(this).parent().next().html()

			var old_name = $(this).parent().attr('tname')

			console.log(name)
			console.log(id)
			console.log(description)
			$.ajax({
				url:"{:url('permissioncate/updateAction')}",
				type:'post',
				data:{
					id:id,
					name:name,
					description:description,
				},
				dataType:'json',
				success:function(res){
					console.log(res)
					if (res.status=='ok') {
						var span= "<span class='upname' >"+name+"</span>"
						_this.parent().html(span)
						_parent.attr('tname',name)
					}
					if (res.status=='error') {
						var span= "<span class='upname' >"+old_name+"</span>"
						_this.parent().html(span)
					}
					
					
				}
			})
		})
		$("#add").click(function(){
			var name=$('#name').val()
			var description=$('#description').val()
			var __token__=$("#__token__").val()
			$.ajax({
				url:"{:url('permissioncate/addAction')}",
				type:'post',
				data:{
					name:name,
					description:description,
					__token__:__token__
				},
				dataType:'json',
				success:function(res){
					console.log(res)
					if (res.status=='ok') {
						$("#add_span").html(res.data);
						$("#add_span").css("color",'green');
						$("#name").val('');
						$("#description").val('');
						setTimeout(function(){
							$("#add_span").html('');
						},3000);

						show()
					}
					if (res.status=='error') {
						//alert(res.data);
						$("#add_span").html(res.data);
						$("#add_span").css("color",'red');
					}
					getToken()
					
				}
			})
		})  
	});


</script>